{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}


<div class="container" style="color:white;">
      <div class="py-5 text-center">
        <h2>Booking Details</h2>
      </div>

      <div class="row">

        <div class="col-md-8 order-md-1">
          <h3 class="mb-1">{{booking.event}}</h3>
          <h6 class="mb-3">{{booking.event.event_address}}, {{booking.event.event_city}} - {{booking.event.event_zip_code}}</h6>
          <h6 class="mb-5"><i class="far fa-calendar-alt"></i>  {{booking.event.event_date}} <i class="fas fa-user-friends ml-5"></i> {{ total_no }}<i class="far fa-clock ml-5"></i> {{booking.event.event_time}}</h6>
          <h4 class="mt-4">{{booking.user}}</h4>
          <h6 class="mb-5"><i class="far fa-envelope"></i> {{booking.user.email}} </h6>
            <p class="mb-3">Booking Date : <b>{{booking.time_stamp}}</b></p>
            <p class="mb-3">Booking ID : <b>{{booking.finalbooking_id}}</b></p>

          <div class="col-md-10  my-4 order-md-2">




              <div class="list-group-item d-flex justify-content-between lh-condensed">
                <h5 class="my-0" style="color:black;">Total Bill</h5>

                <span style="color:black; font-size:125%;">${{booking.amount}}</span>
                  <h6 class="my-0" style="color:green;"><b>{{booking.payment_status }}</b></h6>
                  <p></p>
              </div>






        </div>


        </div>
        <div class="col-md-4 order-md-2 mb-4">

        <img class=" mb-4 ml-5" src="/media/images/{{booking.user}}_e_booking{{booking.booking_id}}.png" alt="" width="350px" height="300px">
          <a type="button" class="btn btn-block btn-light mx-5 text-center" id="download" href="/media/images/{{booking.user}}_e_booking{{booking.booking_id}}.png" download="/media/images/{{booking.user}}_e_booking{{booking.booking_id}}.png">Save</a>

        </div>

      </div>


    </div>

{% endblock %}