{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container my-5" style="color:white;">
    <div class="row">
         <h1 class="">{{event.event_name}}</h1>
         <h4 class=" mx-3 my-3">Table List</h4>
    </div><br><br>


    <div class="row">

        <div class="col-md-3">
           <img src="{{event.event_thumbnail}}" width="200px" height="200px">

            </div>

        <div class="col-md-7">
            <div class="row">
                <div class="col-md-8">
                    <h2>Royal table</h2>
            <p>Place : 6 people</p>
                </div>
                <div class="col-md-4 my-4">
                    <h5>Cost $ {{event.event_price}}</h5>
                </div>
            </div>

                    <p>{{event.event_about}}</p>

                        </div>

        <div class="col-md-2">

                <a class="btn btn-light btn-lg my-5 mx-5" href="/event/6{{event.event_id}}/booktable" role="button">Book</a>
            </div>

        </div>
        <br>


    <div class="row">

        <div class="col-md-3">
           <img src="{{event.event_thumbnail}}" width="200px" height="200px">

            </div>

        <div class="col-md-7">
            <div class="row">
                <div class="col-md-8">
                    <h2>Platinum table</h2>
            <p>Place : 8 people</p>
                </div>
                <div class="col-md-4 my-4">
                    <h5>Cost $ {{event.event_price}}</h5>
                </div>
            </div>

                    <p>{{event.event_about}}</p>

                        </div>

        <div class="col-md-2">

                <a class="btn btn-light btn-lg my-5 mx-5" href="/event/7{{event.event_id}}/booktable" role="button">Book</a>
            </div>

        </div>
        <br>


    <div class="row">

        <div class="col-md-3">
           <img src="{{event.event_thumbnail}}" width="200px" height="200px">

            </div>

        <div class="col-md-7">
            <div class="row">
                <div class="col-md-8">
                    <h2>Diamond table</h2>
            <p>Place : 10 people</p>
                </div>
                <div class="col-md-4 my-4">
                    <h5>Cost $ {{event.event_price}}</h5>
                </div>
            </div>

                    <p>{{event.event_about}}</p>

                        </div>

        <div class="col-md-2">

                <a class="btn btn-light btn-lg my-5 mx-5" href="/event/8{{event.event_id}}/booktable" role="button">Book</a>
            </div>

        </div>
        <br>



</div>


{% endblock body %}

{% block js %}

{% endblock js %}




