{% extends "account/base.html" %}
{% load static %}

{% block head_title %}Settings{% endblock %}
{% block extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'allauth/css/main.css'%}">
<!-- <link rel="stylesheet" href="{% static 'allauth/css/login.css' %}"> -->
{% endblock %}

{% block body %}

<div class="limiter">
  <div class="container-login100" style="background-image: url('{% static 'allauth/images/bg-01.jpg' %}');">


    <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
        {% if response.RESPCODE == '01' %}
        <h1 style="color:green;">PAYMENT SUCCESSFUL!</h1>
        <h3>Paid successfully to Club & Event</h3>
        <h5>{{booking.event}}</h5>
        <h6>Booking ID : {{response.ORDERID}}</h6>
        <a role="button" class="btn btn-primary btn-block btn-lg" href="/event/bookingTable/{{booking.booking_id}}">View Booking</a>
        {% else %}
        <h1>PAYMENT Failed due to {{response.RESPMSG}}</h1>
        {% endif%}



    </div>
  </div>
</div>


{% endblock body %}