{% extends 'base.html' %}

{% block title %}Clubs{% endblock title %}


{% block body %}

<div class="container my-3">
    <div class="row my-4 ">
        {% if club %}
        <div class="col">
        <h2 style="color: white;">Matching Clubs :</h2>
        </div>
        {% endif %}

    </div>

      <div class="row">

          {% for i in club %}
        <div class="col-md-4">
            <a href="/club/{{i.club_id}}">
          <div class="card mb-4 shadow-sm">
            <img src="{{ i.club_image }}" class="d-block w-100" alt="...">
            <div class="card-body">
              <h2 class="card-text">{{ i.club_name }} </h2>
            <p>{{i.club_address}}, {{i.club_city}}</p>
            </div>
          </div></a>
        </div>
        {% endfor %}

      </div>
    </div>



<div class="container my-3">
    <div class="row my-4 ">
        {% if event %}
        <div class="col">
        <h2 style="color: white;">Matching Events :</h2>
        </div>
        {% endif %}

    </div>

      <div class="row">
        <div class="row">

          {% for i in event %}
        <div class="col-md-4">
            <a href="/event/{{i.event_id}}">
          <div class="card mb-4 shadow-sm">
            <img src="{{ i.event_thumbnail }}" class="d-block w-100" alt="...">
            <div class="card-body">
              <h2 class="card-text">{{ i.event_name }} <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg></h2>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
  <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
</svg> {{i.event_address}} , {{i.event_city}} - {{i.event_zip_code}}</p>
            </div>
          </div></a>
        </div>
        {% endfor %}

      </div>



      </div>
    </div>


<div class="container my-3">
    <div class="row my-4 ">
        {% if c_event %}
        <div class="col">
        <h2 style="color: white;">Matching Events in Club :</h2>
        </div>
        {% endif %}

    </div>

      <div class="row">
        <div class="row">

          {% for i in c_event %}
        <div class="col-md-4">
            <a href="/club/event/{{i.c_event_id}}">
          <div class="card mb-4 shadow-sm">
            <img src="{{ i.event_thumbnail }}" class="d-block w-100" alt="...">
            <div class="card-body">
              <h2 class="card-text">{{ i.c_event_name }} <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg></h2>

            </div>
          </div></a>
        </div>
        {% endfor %}

      </div>



      </div>
    </div>

{% block js %}

{%if msg|length != 0 %}
alert('{{msg}}');
window.location.href="/"
{%endif%}

{% endblock js %}

{% endblock body %}