{% extends 'base.html' %}

{% block title %}Clubs{% endblock title %}

{% block city %}

<form method='post' action='/club' id='city'>
          {% csrf_token %}
 <select name='city' onchange='submitForm();'>
  <option >Select your city</option>
  <option value='Agra' >Agra</option>
  <option value='Goa'>Goa</option>
  <option value='Paris'>Paris</option>
 </select>
</form>

{% endblock city %}

{% block body %}

<div class="container my-3">
    <div class="row my-4 ">
        <div class="col">
        <h2 style="color: white;">Clubs</h2>
        </div>

    </div>

      <div class="row">

          {% for i in club %}
        <div class="col-md-4">
            <a href="/club/{{i.club_id}}">
          <div class="card mb-4 shadow-sm">
            <img src="media/{{ i.club_image }}" class="d-block w-100" alt="...">
            <div class="card-body">
              <h2 class="card-text">{{ i.club_name }} </h2>
            <p>{{i.club_address}}, {{i.club_city}}</p>
            </div>
          </div></a>
        </div>
        {% endfor %}

      </div>
    </div>

{% endblock body %}